<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taikang.test.sqltest.mapper.TestDao">
    <update id="foreachupdate">
        <foreach collection="userList" item="item" separator=";">
            update user
            <set>
                name = #{name}
            </set>
            where id = #{item.id}
        </foreach>
    </update>
</mapper>